<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuanLiThuVienEntities" connectionString="metadata=res://*/Model.Database.csdl|res://*/Model.Database.ssdl|res://*/Model.Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\mssqlserver01;initial catalog=QuanLiThuVien;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>