USE [master]
GO
/****** Object:  Database [QuanLiThuVien]    Script Date: 5/16/2022 1:02:12 AM ******/
CREATE DATABASE [QuanLiThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLiThuVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\QuanLiThuVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLiThuVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\QuanLiThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiThuVien]
GO
/****** Object:  User [minhthuan]    Script Date: 5/16/2022 1:02:12 AM ******/
CREATE USER [minhthuan] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [minhthuan]
GO
/****** Object:  Table [dbo].[ChiTietPhieuBoiThuongs]    Script Date: 5/16/2022 1:02:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuBoiThuongs](
	[ID] [varchar](128) NOT NULL,
	[IDPhieuBoiThuong] [varchar](128) NULL,
	[IDSach] [varchar](128) NULL,
	[IDKhachHang] [varchar](128) NULL,
	[SoLuong] [int] NOT NULL,
	[Gia] [float] NOT NULL,
 CONSTRAINT [PK_ChiTietPhieuBoiThuongs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuMuons]    Script Date: 5/16/2022 1:02:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuMuons](
	[ID] [varchar](128) NOT NULL,
	[IDPhieuMuon] [varchar](128) NULL,
	[IDSach] [varchar](128) NULL,
	[IDKhachHang] [varchar](128) NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietPhieuMuons] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVus]    Script Date: 5/16/2022 1:02:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ChucVus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHangs]    Script Date: 5/16/2022 1:02:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHangs](
	[ID] [varchar](128) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[SoDienThoai] [varchar](20) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[HoVaTen] [nvarchar](max) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_KhachHangs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 5/16/2022 1:02:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[ID] [varchar](128) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[SoDienThoai] [varchar](20) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[HoVaTen] [nvarchar](max) NOT NULL,
	[IDChucVu] [int] NOT NULL,
 CONSTRAINT [PK_NhanViens] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuBoiThuongs]    Script Date: 5/16/2022 1:02:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuBoiThuongs](
	[ID] [varchar](128) NOT NULL,
	[NgayLapPhieu] [datetime] NOT NULL,
	[IDPhieuMuon] [varchar](128) NOT NULL,
	[IDNguoiLap] [varchar](128) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_PhieuBoiThuongs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMuons]    Script Date: 5/16/2022 1:02:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuons](
	[ID] [varchar](128) NOT NULL,
	[NgayLapPhieu] [datetime] NOT NULL,
	[IDNguoiLap] [varchar](128) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_PhieuMuons] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Saches]    Script Date: 5/16/2022 1:02:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saches](
	[ID] [varchar](128) NOT NULL,
	[TenSach] [nvarchar](max) NOT NULL,
	[Gia] [float] NOT NULL,
	[NgayXuatBan] [datetime] NOT NULL,
	[IDTacGia] [varchar](128) NULL,
	[SoLuong] [int] NOT NULL,
	[IDTheLoai] [int] NULL,
	[HinhAnh] [varchar](max) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_Saches] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 5/16/2022 1:02:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [nvarchar](128) NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
 CONSTRAINT [PK_sysdiagrams] PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGias]    Script Date: 5/16/2022 1:02:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGias](
	[ID] [varchar](128) NOT NULL,
	[Ten] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TacGias] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoans]    Script Date: 5/16/2022 1:02:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoans](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiKhoan] [varchar](max) NOT NULL,
	[MatKhau] [varchar](max) NOT NULL,
	[TrangThai] [int] NULL,
	[IDNhanVien] [varchar](128) NOT NULL,
 CONSTRAINT [PK_TaiKhoans] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoais]    Script Date: 5/16/2022 1:02:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoais](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](max) NULL,
 CONSTRAINT [PK_TheLoais] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK_CTPBT_PBT]    Script Date: 5/16/2022 1:02:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_CTPBT_PBT] ON [dbo].[ChiTietPhieuBoiThuongs]
(
	[IDPhieuBoiThuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK_CTPBT_S]    Script Date: 5/16/2022 1:02:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_CTPBT_S] ON [dbo].[ChiTietPhieuBoiThuongs]
(
	[IDSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK_CTPM_KH]    Script Date: 5/16/2022 1:02:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_CTPM_KH] ON [dbo].[ChiTietPhieuMuons]
(
	[IDKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK_CTPM_PM]    Script Date: 5/16/2022 1:02:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_CTPM_PM] ON [dbo].[ChiTietPhieuMuons]
(
	[IDPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK_CTPM_S]    Script Date: 5/16/2022 1:02:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_CTPM_S] ON [dbo].[ChiTietPhieuMuons]
(
	[IDSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK_PBT_PM]    Script Date: 5/16/2022 1:02:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_PBT_PM] ON [dbo].[PhieuBoiThuongs]
(
	[IDPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FK_S_TG]    Script Date: 5/16/2022 1:02:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_S_TG] ON [dbo].[Saches]
(
	[IDTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_S_TL]    Script Date: 5/16/2022 1:02:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_S_TL] ON [dbo].[Saches]
(
	[IDTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhachHangs] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuBoiThuongs] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuMuons] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoans] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietPhieuBoiThuongs]  WITH CHECK ADD  CONSTRAINT [FK_CTPBT_KH] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHangs] ([ID])
GO
ALTER TABLE [dbo].[ChiTietPhieuBoiThuongs] CHECK CONSTRAINT [FK_CTPBT_KH]
GO
ALTER TABLE [dbo].[ChiTietPhieuBoiThuongs]  WITH CHECK ADD  CONSTRAINT [FK_CTPBT_PBT] FOREIGN KEY([IDPhieuBoiThuong])
REFERENCES [dbo].[PhieuBoiThuongs] ([ID])
GO
ALTER TABLE [dbo].[ChiTietPhieuBoiThuongs] CHECK CONSTRAINT [FK_CTPBT_PBT]
GO
ALTER TABLE [dbo].[ChiTietPhieuBoiThuongs]  WITH CHECK ADD  CONSTRAINT [FK_CTPBT_S] FOREIGN KEY([IDSach])
REFERENCES [dbo].[Saches] ([ID])
GO
ALTER TABLE [dbo].[ChiTietPhieuBoiThuongs] CHECK CONSTRAINT [FK_CTPBT_S]
GO
ALTER TABLE [dbo].[ChiTietPhieuMuons]  WITH CHECK ADD  CONSTRAINT [FK_CTPM_KH] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHangs] ([ID])
GO
ALTER TABLE [dbo].[ChiTietPhieuMuons] CHECK CONSTRAINT [FK_CTPM_KH]
GO
ALTER TABLE [dbo].[ChiTietPhieuMuons]  WITH CHECK ADD  CONSTRAINT [FK_CTPM_PM] FOREIGN KEY([IDPhieuMuon])
REFERENCES [dbo].[PhieuMuons] ([ID])
GO
ALTER TABLE [dbo].[ChiTietPhieuMuons] CHECK CONSTRAINT [FK_CTPM_PM]
GO
ALTER TABLE [dbo].[ChiTietPhieuMuons]  WITH CHECK ADD  CONSTRAINT [FK_CTPM_S] FOREIGN KEY([IDSach])
REFERENCES [dbo].[Saches] ([ID])
GO
ALTER TABLE [dbo].[ChiTietPhieuMuons] CHECK CONSTRAINT [FK_CTPM_S]
GO
ALTER TABLE [dbo].[NhanViens]  WITH CHECK ADD  CONSTRAINT [FK_NV_CV] FOREIGN KEY([IDChucVu])
REFERENCES [dbo].[ChucVus] ([ID])
GO
ALTER TABLE [dbo].[NhanViens] CHECK CONSTRAINT [FK_NV_CV]
GO
ALTER TABLE [dbo].[PhieuBoiThuongs]  WITH CHECK ADD  CONSTRAINT [FK_PBT_NV] FOREIGN KEY([IDNguoiLap])
REFERENCES [dbo].[NhanViens] ([ID])
GO
ALTER TABLE [dbo].[PhieuBoiThuongs] CHECK CONSTRAINT [FK_PBT_NV]
GO
ALTER TABLE [dbo].[PhieuBoiThuongs]  WITH CHECK ADD  CONSTRAINT [FK_PBT_PM] FOREIGN KEY([IDPhieuMuon])
REFERENCES [dbo].[PhieuMuons] ([ID])
GO
ALTER TABLE [dbo].[PhieuBoiThuongs] CHECK CONSTRAINT [FK_PBT_PM]
GO
ALTER TABLE [dbo].[PhieuMuons]  WITH CHECK ADD  CONSTRAINT [FK_PM_NV] FOREIGN KEY([IDNguoiLap])
REFERENCES [dbo].[NhanViens] ([ID])
GO
ALTER TABLE [dbo].[PhieuMuons] CHECK CONSTRAINT [FK_PM_NV]
GO
ALTER TABLE [dbo].[Saches]  WITH CHECK ADD  CONSTRAINT [FK_S_TG] FOREIGN KEY([IDTacGia])
REFERENCES [dbo].[TacGias] ([ID])
GO
ALTER TABLE [dbo].[Saches] CHECK CONSTRAINT [FK_S_TG]
GO
ALTER TABLE [dbo].[Saches]  WITH CHECK ADD  CONSTRAINT [FK_S_TL] FOREIGN KEY([IDTheLoai])
REFERENCES [dbo].[TheLoais] ([ID])
GO
ALTER TABLE [dbo].[Saches] CHECK CONSTRAINT [FK_S_TL]
GO
ALTER TABLE [dbo].[TaiKhoans]  WITH CHECK ADD  CONSTRAINT [FK_TK_NV] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NhanViens] ([ID])
GO
ALTER TABLE [dbo].[TaiKhoans] CHECK CONSTRAINT [FK_TK_NV]
GO
USE [master]
GO
